{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block contenido %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        <div class="the-form">

    <h1 class="the-form__title heading3 the-form__input col-md-6 col-md-offset-5">Introduzca email y contraseña</h1>
    <label for="inputEmail" class="the-form__input col-md-6 col-md-offset-3">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="the-form__input col-md-6 col-md-offset-3" required autofocus>
    <label for="inputPassword" class="the-form__input col-md-6 col-md-offset-3">Password</label>
    <input type="password" name="password" id="inputPassword" class="the-form__input col-md-6 col-md-offset-3" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
           </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="the-form">
    <button class="the-form__btn btn btn-lg btn-primary col-md-offset-3" type="submit">
        Logueate
    </button>
    <a class="the-form__btn btn btn-lg btn-primary col-md-offset-3" href="/registro">Registrate</a>
    </div>
</form>
{% endblock %}
