{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block contenido %}
<form method="post">

    <h1 class="the-form__title heading3 the-form__input col-md-6 col-md-offset-5">Introduzca email y contraseña</h1>
    <label for="inputEmail" class="the-form__input col-md-6 col-md-offset-3">Email</label>
    <input type="email" name="email" id="inputEmail" class="the-form__input col-md-6 col-md-offset-3" required autofocus>
    <label for="inputPassword" class="the-form__input col-md-6 col-md-offset-3">Password</label>
    <input type="password" name="password" id="inputPassword" class="the-form__input col-md-6 col-md-offset-3" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
           </div>

    <div class="the-form">
    <button class="the-form__btn btn btn-lg btn-primary col-md-offset-3" type="submit">
        Restrarse
    </button>
    </div>
</form>
{% endblock %}
