{% extends 'base.html.twig' %}

{% block contenido %}
    <section class="app-form">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

              <div class="the-form">
                <form method="post">
                    <p class="the-form__title heading3">
                        Rellena el formulario para enviar tu opinión. 
                    </p>
                  
                  <div class="the-form__group">
                    <label for="name">
                      Nombre:
                    </label>
                    <input type="text"
                          id="name"
                          name="name"                          
                          class="the-form__input"
                          placeholder="Vincent Chase"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="surName">
                      Apellidos:
                    </label>
                    <input type="text"
                          id="surName"
                          name="surName"
                          class="the-form__input"
                          placeholder="Ortega"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="address">
                      Dirección:
                    </label>
                    <input type="text"
                          id="address"
                          name="address"
                          class="the-form__input"
                          placeholder="Ortega"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="city">
                      Ciudad:
                    </label>
                    <input type="text"
                          id="city"
                          name="city"
                          class="the-form__input"
                          placeholder="Alcorcon"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="province">
                      Provincia:
                    </label>
                    <input type="text"
                          id="province"
                          name="province"
                          class="the-form__input"
                          placeholder="Madrid"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="postalCode">
                      Código postal:
                    </label>
                    <input type="text"
                          id="postalCode"
                          name="postalCode"
                          class="the-form__input"
                          placeholder="28027"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="country">
                      Pais:
                    </label>
                    <input type="text"
                          id="country"
                          name="country"
                          class="the-form__input"
                          placeholder="España"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="comentario">
                      Comentario:
                    </label>
                    <input type="text"
                          id="comentario"
                          name="comentario"
                          class="the-form__input"
                          placeholder="Un excelente lugar para guardar mis pertenencias, lo recomiendo."
                          required="true">
                  </div>
                  
                  <input type="submit"
                        class="the-form__btn btn btn-lg btn-primary"
                        value="Enviar">
                </form>

              </div>
                                  <a class="the-form__btn btn btn-lg" href="{{ path("home")}}">Volver a inicio</a>

            </div>
          </div>

    </section>   


{% endblock %}