{% extends 'base.html.twig' %}

{% block contenido %}
          {% apply inline_css %}
                      <style>

                        .btn{
                          width:100%;
                          display: flex;
                          align-items: center;
                        }
                          h2{
                            text-align: center;
                            font-size: 2em;
                            margin:1em;
                          }
                          .formRes {
                            font-family: Arial, Helvetica, sans-serif;
                            border-collapse: collapse;
                            width: 60%;
                            margin-right: auto;
                            margin-left:auto;
                          }

                          .formRes td, .formRes th {
                            border: 1px solid black;
                            padding: 8px;
                          }

                          .formRes th {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            text-align: left;
                            background-color: #4CAF50;
                            color: white;
                          }

                          .btn-home {
                            display:flex;
                            align:center;
                            margin:2em auto;                            
                            display: inline-block;
                            padding: 5px 5px;
                            font-size: 16px;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            color: #fff;
                            background-color: #4CAF50;
                            border: none;
                            border-radius: 15px;
                            box-shadow: 0 9px #999;
                          }

                          .btn-delete {
                            display:flex;
                            align:center;                         
                            display: inline-block;
                            padding: 5px 5px;
                            font-size: 12px;
                            font-weight: bold;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            color: black;
                            background-color: red;
                            border: none;
                            border-radius: 15px;
                          }

                          .btn-home:active {
                            background-color: #3e8e41;
                            box-shadow: 0 5px #666;
                            transform: translateY(4px);
                          }
                      </style>

            
          <h2>
            Formularios
          </h2>

          <div class="cont">
            <table class="formRes">
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Horario</th>
                <th>Espacio requerido</th>
                <th>Ciudad</th>
              </tr>
              {% for form in formularioReg %}
              <tr>
                <td>{{form.id}}</td>
                <td>{{form.name}}</td>
                <td>{{form.email}}</td>
                <td>{{form.timetable}}</td>
                <td>{{form.spaceavailable}}</td>
                <td>{{form.city}}</td>
                <td><a class="btn-delete" href="{{ path("delete")}}">Borrar</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <h2>
            Guardianes
          </h2>

          <div class="cont">
            <table class="formRes">
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre espacio</th>
                <th>Puntuacion</th>
                <th>Espacio</th>
                <th>localizacion</th>


              </tr>
              {% for guard in guardianes %}
              <tr>
                <td>{{guard.id}}</td>
                <td>{{guard.userName}} {{guard.userSurname}}</td>
                <td>{{guard.name}}</td>
                <td>{{guard.rating}}</td>
                <td>{{guard.size}}</td>
                <td>{{guard.locationLatitude}} / {{guard.locationLongitude}}</td>
                <td><a class="btn-delete" href="{{ path("delete")}}">Borrar</a></td>


              </tr>
              {% endfor %}
            </table>
          </div>


          <h2>
            Opiniones
          </h2>

          <div class="cont">
            <table class="formRes">
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Comentario</th>
                <th>Ciudad</th>

              </tr>
              {% for opinion in opiniones %}
              <tr>
                <td>{{opinion.id}}</td>
                <td>{{opinion.authorName}} {{opinion.authorSurname}}</td>
                <td>{{opinion.text}}</td>
                <td>{{opinion.authorCity}}</td>
                <td><a class="btn-delete" href="{{ path("delete")}}">Borrar</a></td>


              </tr>
              {% endfor %}
            </table>
          </div>

          
          <div class="btn">
            <a class="btn-home" href="{{ path("home")}}">Ir a inicio</a>
          </div>
        </section>
        {% endapply %}
{% endblock %}