<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Document{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/styles/styles.css">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="container-fluid">
        <header class="header">
            <img src="assets/img/logo.svg" alt="Maleteo">
            {% apply inline_css %}
                      <style>
                          .icons {
                            margin: 10px auto; padding: 0;
                            display:flex;
                            align-items: right;
                            float:right;
                          }
                          .iconLogged img{
                            max-width:40px;
                            
                          }
                          .iconLogout img{
                            max-width:40px;
                          }

                        
                      </style>
            <ul class="icons">
            {% if is_granted('ROLE_ADMIN')%}
                <li class="iconLogged" ><a href="/admin"><img src="assets/img/user.png"/></a></li>
                <li class="iconLogout" ><a href="/logout"><img src="assets/img/logout.png"/></a></li>
              {% elseif is_granted('ROLE_USER')%}
                <li class="iconLogout" ><a href="/logout"><img src="assets/img/logout.png"/></a></li>
              {% else %}
              <li class="iconLogged" ><a href="/login"><img src="assets/img/user.png"/></a></li>
              {% endif %}
            </div>
            {% endapply %}
        </header>
      </div>
  </div>

    {% block contenido %}
        
            
    {% endblock %}
    <footer class="footer">
    <div class="wrapper">
      <div class="container-fluid">
        <img src="assets/img/logo.svg"
            alt="Maleteo"
            class="footer__logo">
        <p class="footer__claim">
          Hecho con ❤️en Madrid
        </p>
      </div>
    </div>
  </footer>
{% block javascripts %}
{% endblock %}
</body>
</html>
