{% extends 'base.html.twig' %}

{% block contenido %}
          {% apply inline_css %}
                      <style>

                        .btn{
                          width:100%;
                          display: flex;
                          align-items: center;
                        }
                          h2{
                            text-align: center;
                            font-size: 2em;
                            margin:1em;
                          }
                          .formRes {
                            font-family: Arial, Helvetica, sans-serif;
                            border-collapse: collapse;
                            width: 60%;
                            margin-right: auto;
                            margin-left:auto;
                          }

                          .formRes td, .formRes th {
                            border: 1px solid black;
                            padding: 8px;
                          }

                          .formRes th {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            text-align: left;
                            background-color: #4CAF50;
                            color: white;
                          }

                          .btn-home {
                            display:flex;
                            align:center;
                            margin:2em auto;                            
                            display: inline-block;
                            padding: 5px 5px;
                            font-size: 16px;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            color: #fff;
                            background-color: #4CAF50;
                            border: none;
                            border-radius: 15px;
                            box-shadow: 0 9px #999;
                          }

                          .btn-home:active {
                            background-color: #3e8e41;
                            box-shadow: 0 5px #666;
                            transform: translateY(4px);
                          }
                      </style>
        <section>
          <h2>
            Formulario enviado con éxito.
          </h2>

          <div class="cont">
            <table class="formRes">
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Horario</th>
                <th>Espacio requerido</th>
                <th>Ciudad</th>
              </tr>
              <tr>
                <td>{{form.name}}</td>
                <td>{{form.email}}</td>
                <td>{{form.timetable}}</td>
                <td>{{form.spaceavailable}}</td>
                <td>{{form.city}}</td>
              </tr>
            </table>
          </div>
          <div class="btn">
            <a class="btn-home" href="{{ path("home")}}">Ir a inicio</a>
          </div>
          {% endapply %}
        </section>
{% endblock %}