{% extends 'base.html.twig' %}

{% block contenido %}
  <main>
    <div class="jumbo footer">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="jumbo__ww-title">
                <div class="jumbo__w-title">
                  <h1 class="jumbo__title heading1">
                    Gana dinero guardando equipaje a viajeros como tu
                  </h1>
                  <ul class="jumbo__app-btns">
                    <li>
                      <a href="#">
                        <img src="assets/img/app-store.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="assets/img/google-play.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container-fluid">
        <section class="howworks">
          <h2 class="howworks__title heading2">
            ¿Cómo funciona?
          </h2>
          <ol class="howworks__steps row">
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Presiona el icono de arriba a la derecha para loguearte o registrarte.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">2</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Envía un formulario de contacto.
                  </p>
                  <p class="howworks__step-txt">
                    Con el formulario que encontraras aquí en la pagina podrás ponerte en contacto con nosotros y solicitar tu servicio de maleteo.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">3</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Espera la respuesta.
                  </p>
                  <p class="howworks__step-txt">
                    En unos minutos te llegara un email con la información que necesitas.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </section>

        <section class="app-form">
          <div class="row">
            <div class="col-md-5">
              <div class="app-form__w-app-img">
                <img src="assets/img/iPhoneX.png"
                     srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                     alt=""
                     class="app-form__app-img">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="the-form">
                <form method="post">
                  <p class="the-form__title heading3">
                    Solicita una demo
                  </p>
                  
                  <div class="the-form__group">
                    <label for="name">
                      Nombre
                    </label>
                    <input type="text"
                          id="name"
                          name="name"                          
                          class="the-form__input"
                          placeholder="Vincent Chase"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="email">
                      Email
                    </label>
                    <input type="email"
                          id="name"
                          name="email"
                          class="the-form__input"
                          placeholder="vincent@mga.com"
                          required="true">
                  </div>

                  <div class="the-form__group">
                    <label for="timetable">
                      Horario
                    </label>
                    <select id="timetable"
                            name="timetable"
                            class="the-form__input the-form__select">
                      <option value="Por las mañanas" selected='selected'>Por las mañanas</option>
                      <option value="Por las tardes">Por las tardes</option>
                      <option value="todo el dia">todo el dia</option>
                    </select>
                  </div>

                  <div class="the-form__group">
                    <label for="spaceavailable">
                      ¿Cuantas maletas necesitas guardar? 
                    </label>
                    <select name="spaceavailable"
                            id="spaceavailable"
                            class="the-form__input the-form__select">
                      <option value="1" selected="selected">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>

                  <div class="the-form__group">
                    <label for="city">
                      Ciudad
                    </label>
                    <select id="city"
                            name="city"
                            class="the-form__input the-form__select">
                      <option value="Madrid" selected="selected">Madrid</option>
                      <option value="Puerto Hurraco">Puerto Hurraco</option>
                      <option value="Villabolluyos">c</option>
                    </select>
                  </div>

                  <div class="the-form__group the-form__group_checkbox">
                    <input type="checkbox"
                          id="privacity"
                          name="privacity"
                          required="true">
                    <label for="privacity">
                      Aceptas la <a href="#">política de privacidad</a>
                    </label>
                  </div>
                  
                  <input type="submit"
                        class="the-form__btn btn btn-lg btn-primary"
                        value="Enviar">
                </form>
              </div>
            </div>
          </div>
        </section>

        <section class="opinions">
          <h2 class="opinions__title heading2">
            Opiniones de otros guardianes
          </h2>

          <ul class="row">
            {% for opinion in opiniones %}
              <li class="col-md-4">
                <div class="opinion">
                  <blockquote class="opinion__blq simple-bubble text-large">
                    {{opinion.text}}
                  </blockquote>
                  <p class="opinion__author text-large">
                    {{opinion.authorName}} {{opinion.authorSurname}}
                  </p>
                  <p class="opinion__author-address">
                    {{opinion.authorCity}}, {{opinion.authorCountry}}
                  </p>
                </div>
              </li>
            {% endfor %}
          </ul>
          {% apply inline_css %}
                      <style>
                      .divBtn{
                          width:100%;
                          display: flex;
                          align-items: center;
                        }
                      .btn-home {
                            display:flex;
                            align:center;
                            margin:2em auto;                            
                            display: inline-block;
                            border-radius: 4px;
                            font-size: 1.25em;
                            padding: .5em 1em;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            color: #fff;
                            background: linear-gradient(180deg, #ffce32 0%, #f9a519 100%);
                            border: none;
                          }
                      </style>
          <div class="divBtn">
          <a class="btn-primary btn-home" href="{{ path("addComentario")}}">Añade tu propia opinion</a>
          </div>
          {% endapply %}
        </section>
      </div>  
    </div>

  </main>
  
{% endblock %}